<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title>Hammy</title>
    </head>

    <body align="center">
        <header>
            <h1>Hammy The Hamster</h1>
        </header>

        <div align="center">
            <p>This is a picture of Hammy</p>
            <img src="./static/hammy.jpg" style="width:30%"><img>
            <p>Hammy is a very dear friend of mine, she gets me throiugh hard times.</p>
        </div>
        <footer align="">
            <p>This is a link with more information about Hammy: </p>
            <a href="/next"> About Hammy </a>
        </footer>
    </body>
</html>